.accordion-button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--primary-green);
}

.accordion-button:not(.collapsed) {
    background-color: var(--light-gray);
    color: var(--dark-charcoal);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(151, 188, 98, 0.25);
}

.accordion-item {
    border-color: #e9ecef;
}
